
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
.head {
  background-color: white;
  color :black;
   border: 1px blueviolet solid;
     
}
.navbar {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  height: 60px;
  align-items: center;
  
  
  
  background-color:white;
  max-width: 1200px;
  margin: auto;
  

}
.nav-links {
  display: flex ;
  gap: 50px;
  list-style: none;
}
.logo img{
  
  width: 120px;  
  height: auto;

}
nav a {
  text-decoration: none; 
  color: black;
  font-size: 16px;
   font-weight: 500; 
}

nav a:hover {
  background: linear-gradient(90deg, #0a5c6a 0%, #0f9ba8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.auth-buttons .btn-signup{
font-family: 'Poppins', sans-serif;
border: none;
background-color: white;
font-size: 16px;
font-weight: 500;
color: #00A1BB;
text-decoration: underline;
 padding-right: 32px;
    


}
.auth-buttons .btn-login{
  font-family: 'Poppins', sans-serif;
 background: linear-gradient(90deg, #0a5c6a  0%, #0f9ba8 100%);
 border: none;
 color: white;
 width: 100px;
 
 
 padding: 7px;
 border-radius: 5px;


}
.Accueil-page {
  
  margin-left: 60px;
  padding-top: 80px;
  
  
  
  
}
.Accueil {
  
  background-size: cover;
   height: 100vh;
  
   background: 
   
  
      

  
      linear-gradient(to right, 
    #092734 0%, 
    #0F1F2C 45%, 
       #0F1F2C 50%, 
    rgba(215, 223, 226, 0) 55%
  ),
  url("../assets/backg.png");
  

  
  
   background-size: 100% 100%, 50% 100%; 
  background-position: left top, right top;
  background-repeat: no-repeat;
  color: white;
  
  
}
.titre {
   font-family: 'Oswald', sans-serif;
  width: 500px;
  font-size: 55px;
  padding-bottom: 20px;
}
.par {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  width: 700px;
  color: #DDDDDD;
  font-size: 15px;
   padding-bottom: 30px;
    line-height: 2.5;
  
}
.login-accueil {
  font-family: 'Poppins', sans-serif;
 background: linear-gradient(90deg, #0a5c6a  0%, #0f9ba8 100%);
 border: none;
 color: white;
 width: 130px;
 padding: 10px;
 font-weight: 700;
 border-radius: 5px;
 font-size: 17px;

}

h1.question {
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  padding-top: 60px;
  width: fit-content;   /* largeur adaptée au texte */
  margin: auto;
  position: relative;   /* nécessaire pour ::after */
}

h1.question::after {
  content: "";
  position: absolute;
  bottom: 0px; /* espace sous le texte */
  left: 30px;    /* décalage du début */
  width: 90%;    /* longueur de la barre */
  height: 15px;  /* épaisseur */
  
  background: linear-gradient(90deg, #4DE5FF, #116F7F);
}
h1.titre2 {
  color: black;
     font-family: 'Oswald', sans-serif;
  font-size: 50px;
  width: fit-content;
  padding-left: 20px;
  

}

h1.titre2::after {
  content: "";
  position: absolute;
  bottom: -860px; /* espace sous le texte */
  left: 730px;    /* décalage du début */
  width: 29%;    /* longueur de la barre */
  height: 15px;  /* épaisseur */
  
  background: linear-gradient(90deg, #4DE5FF, #116F7F);
}
.text {
  
  margin-right: 70px;
  width: 500px;
  color: #4F4F4F;
    font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding-top: 20px;
}


  


.service p.notes {
  font-family: 'Poppins', sans-serif;
  padding-top: 40px;
  padding-left: 60px;

  width: 500px;
  font-size: 16px;
  font-weight: 400;
  color: #4F4F4F;
}
.custom-list {
  list-style-type: disc;   /* puces classiques (•) */
  margin-left: 20px;       /* indentation */
  color: #7c0606;             /* couleur du texte */
  padding-left: 55px;      /* espace intérieur */
}

.custom-list li {
  font-weight: 400;
  margin-bottom: 5px;      /* espace entre les éléments */
  font-size: 16px;

  font-family: 'Poppins', sans-serif;
  width: 500px;
  color: #4F4F4F;
}
.service p.finall {
  
  font-family: 'Poppins', sans-serif;
  
  padding-left: 60px;
  
  width: 500px;
  font-size: 16px;
  font-weight: 400;
   color: #4F4F4F;




}
.service {
  
  margin-bottom: 110px;
}
.serviceWithphoto img {
  height: 450px;
  width: 400px;
  
  padding-right: 50px;
  margin-top: 30px;
}    
.serviceWithphoto {
  display: flex;
  justify-content: space-between;

}
.paragraph {
  
  margin-top: 30px;
  
}
.container2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

}
.container2 img {
   height: 310px;
  width: 340px;
  padding-left: 110px;

}
.clients-logos {
   background:#1F8395;
   height: 120px;
   display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px; /* espace entre logos */
  padding: 20px;
  border-radius: 10px;



}
.clients {
padding-bottom: 70px;
padding-top: 60px;

border-radius: 0px;
padding-left: 0px;
padding-right: 0px;
  
}
.clients-title {
  text-align: center;
  
  
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Oswald', sans-serif;
}
 .clients-logos {
  display: flex;
  justify-content: space-between;
  
  gap: 40px;  /* espace entre les logos */
  flex-wrap: wrap; /* permet de passer à la ligne sur petits écrans */
}

.clients-logos img {
  height: 80px; /* taille des logos */
}
.titre3 {
  font-size: 40px;
  font-weight: bold;
    font-family: 'Oswald', sans-serif;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 30px;

  

}
.p {
background: linear-gradient(90deg,#127486, #3fc2d8);
height: 150px;
display: flex;
align-items: center;
width: 100%
}
.p .une {
  width: 400px;

  
  padding-left: 30px;
  color: #FBFBFB;
   font-size: 16px;
   font-weight: 100;
}
.form  {
  border: 3px solid #1FA1B7;
  margin-top: -230px;
  border-radius: 5px;
  height: 362px;
  width: 350px;
  text-align: center;
    outline: none; 
    margin-left: 600px;
    background-color: white;
    margin-left: 700px;
    
  

}
.form .name {
  width: 300px;
  
  border: 1px solid #1FA1B7;
  border-radius: 4px;
  padding-left: 10px;
  margin-top: 20px;
  color: 9F9F9F;
  vertical-align: auto;
  height: 50px;
    outline: none; 
}
.form .email {
  width: 300px;
  
  border: 1px solid #1FA1B7;
  border-radius: 4px;
  padding-left: 10px;
    padding-right: 10px;
  margin-top: 20px;
  color: #9F9F9F;
  vertical-align: auto;
  height: 50px;
    outline: none; 
}
.form .message {
  width: 300px;
  
  border: 1px solid #1FA1B7;
  border-radius: 4px;
  padding-left: 10px;
  margin-top: 20px;
  color: #9F9F9F;
  padding-bottom: 4cqw;
  height: 100px;
    font-family: 'Poppins', sans-serif;
      outline: none; 
  
}
.envoyer {
  margin-top: 20px;
    font-family: 'Poppins', sans-serif;
 background: linear-gradient(90deg, #0a5c6a  0%, #0f9ba8 100%);
 border: none;
 color: white;
 width: 100px;
 
 
 
 border-radius: 5px;
 height: 40px;
 width: 100px;
 font-weight: 600;

}
.contactsgroup {
  margin-bottom: 60px;
  

}
.footer {
 background: linear-gradient(90deg, #07525E 0%, #0f9ba8 100%);
 height: 350px;
 width:100%;
 display: flex;
 gap: 300px;
 
 
  


}
.liens ul {
    list-style: none
}
.liens h2 {
  color: white;
  font-family:'Oswald', sans-serif; 
  font-weight: bold;
  font-size: 24px;
}
.footer .links {
  list-style: none;   /* enlève les points */
  padding: 0;
  margin: 0;
}
.footer .links li {
  margin: 12px 0; /* espace entre chaque lien */
}
.links a {
  color: #E5E5E5;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight:400;
    font-size: 16px;
      transition: color 0.3s;


  
}

.footer .links a:hover {
  color: #00A1BB;/* couleur dorée au hover */
}
.liens {
  color: white;
  max-width: 300px;
  margin-left: 40px;
    padding-top: 80px;


}
.logo2 img {
    width: 200px;  
  height: auto;
  padding-bottom: 40px;
}
.footpar {
  color:#DEDEDE ;
  width: 300px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

}
.marketly {
  
  width: 300px;
  
  margin-top: 50px;
  text-align: center;
}
.marketly .bt-login{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
 background:#E5E5E5;
 border: none;
 color: white;
 width: 100px;
 margin-top: 20px;

 
 
 padding: 10px;
 text-align: center;
 color: #193E39;
 border-radius: 4px;

}
.cordonnées h2 {
  color: white;
  font-family:'Oswald', sans-serif; 
  font-weight: bold;
  font-size: 24px;

}
.cordonnées ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cordonnées ul li {
  margin: 12px 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight:400;
}
.cordonnées ul li a  {
  text-decoration: none;
  color: white;
  
}
.cordonnées  {
  padding-top: 80px;

}







